# =========================
# Python & Ambienti Virtuali
# =========================
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env

# =========================
# Jupyter Notebooks
# =========================
.ipynb_checkpoints/

# =========================
# Dati e Dataset (MOLTO IMPORTANTE)
# =========================
# Ignora le cartelle dove tieni le immagini reali e sintetiche (radiografie)
data/
datasets/
*.csv
*.zip

# =========================
# Pesi dei Modelli (Evita di caricare file enormi)
# =========================
*.pt
*.pth
*.h5
*.hdf5
*.onnx
*.weights
runs/     # Cartella di output tipica di YOLO (se non vuoi caricare tutti i log)

# =========================
# File di Sistema e IDE
# =========================
.DS_Store
.idea/
.vscode/
